/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.zakat-input-text{
  @apply ring-2 ring-trueGray-300 focus:ring-blue-500 rounded-lg p-1 px-2 focus:outline-none outline-none duration-150;
}

@layer base {
  @font-face {
      font-family: "materialdesignicons";
      font-weight: 100;
      src:    url("./assets/fonts/materialdesignicons-webfont.ttf") format("ttf"),
              url("./assets/fonts/materialdesignicons-webfont.woff2") format("woff2");
  }
  @font-face {
      font-family: "roboto";
      font-weight: 200;
      src:    url("./assets/fonts/Roboto-Regular.ttf") format("ttf"),
  }
}